<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Enter passenger details for prediction (Titanic Dataset)</h2>
<form action="/predict" method="post">
    Enter Pclass <input type="number" name = "pclass" id="pclass" placeholder="pclass" step="any">
     <BR><BR>
    Enter Sex:   <input type="number" name ="sex" id="sex" placeholder="sex" step="any">
     <BR><BR>
    Enter Age:   <input type="number" name ="age" id="age" placeholder="age" step="any">
     <BR><BR>
    Enter SibSp: <input type="number" name="SibSp" id="SibSp" placeholder="SibSp" step="any">
     <BR><BR>
    Enter Parch: <input type="number" name="Parch" id="Parch" placeholder="Parch" step="any">
     <BR><BR>
    Enter Fare:  <input type="number" name="fare" id="fare" placeholder="fare" step="any">
    <BR><BR>
    <input type="Submit">
    </div>
</form>

</body>
</html>